.audioPlayer {
  position: fixed !important;
  display: grid;
  grid-template-columns: 4rem auto;
  place-items: center;
  width: 100%;
  height: 4rem;
  padding: 0.5rem 2rem;
  bottom: 0;
}

.audioEpisode > img {
  width: 3rem;
  height: 3rem;
}

.audioDetails > * {
  display: none;
}

.audioWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progressBar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.range {
  position: relative;
  flex: 1;
  width: 6rem;
}

.range::before {
  content: "";
  height: 8px;
  width: var(--range-width);
  background-color: var(--blue-2);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

@media (min-width: 768px) {
  .audioWrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .audioPlayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .audioWrapper {
    width: calc(50% + 36px);
  }

  .audioEpisode {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  .audioDetails > * {
    display: block;
    margin: 0 0 0.5rem 0;
  }

  .audioDetails > * {
    margin: 0 0 0.5rem 0;
  }
}
