.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.headerTitle > h1 {
  font-style: normal;
}

.dropdown {
  position: absolute !important;
  top: 6.25rem;
  right: 1rem;
  width: 15rem;
  padding: 1rem;
  border-radius: 1rem;
}

.dropdown > li {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    padding: 0 2rem;
  }
}
