.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading > img {
  animation: pulse 1s ease-out infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }

  to {
    width: 64px;
    opacity: 1;
  }
}
