.switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1.125rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.125rem;
  background-color: var(--blue-1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.86rem;
  width: 0.86rem;
  left: 0.17rem;
  bottom: 0.1325rem;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider > img {
  height: 0.85rem;
  width: 0.85rem;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue-2);
}

input:checked + .slider:before {
  -webkit-transform: translateX(0.86rem);
  -ms-transform: translateX(0.86rem);
  transform: translateX(0.86rem);
}
