.FavouritesSorter {
  margin: 2rem;
}

.FavouritesSorter > h4 {
  font-size: 1rem;
}

.ShowGroupTitle {
  margin: 2rem;
}

@media (min-width: 768px) {
  .FavouritesSorter {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }
}
