.podcast-list {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6.25rem);
  margin: 1rem 1.25rem;
}

.podcastListHeader {
  margin: 1rem 2rem;
}

.filters {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-content: center;
}

.search {
  height: 3rem;
  padding: 0.5rem 1rem;
  border: solid 2px var(--blue-2) !important;
  border-radius: 0.5rem;
  background-size: 30px;
  width: 100%;
}

.pageButton {
  font-size: 1rem;
  margin: 0.5rem;
}

.pageButton:hover {
  font-weight: bold;
}

@media (min-width: 768px) {
  .podcast-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: start;
  }

  .podcastListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filters {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: end;
    column-gap: 1rem;
  }

  .search {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .podcast-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .filters {
    flex-wrap: nowrap;
  }
  .search {
    min-width: 12rem;
  }
}

@media (min-width: 1440px) {
  .podcast-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
