.glass {
  position: relative;
  background: var(--background);
  border: 0px;
  backdrop-filter: blur(7px);
}

.glass::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: 1px solid transparent;
  background: linear-gradient(var(--blue-3), var(--blue-2), var(--blue-1))
    border-box;
  mask:
    linear-gradient(black) border-box,
    linear-gradient(black) padding-box;
  mask-composite: subtract;
}
