@import url("https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --text-1: #f8f9fa;
  --text-2: #e9ecef;
  --text-3: #ced4da;

  --blue-1: #01264a;
  --blue-2: #075ea9;
  --blue-3: #0a80e2;

  --background: rgba(248, 249, 250, 0.05);
  color-scheme: light dark;
}

[data-theme="light"] {
  --text-1: #03101c;
  --text-2: #343a40;
  --text-3: #495057;

  --blue-1: #0a80e2;
  --blue-2: #5aa9eb;
  --blue-3: #e0effb;

  --background: rgba(255, 255, 255, 0.1);
}

html {
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 0.75rem;
  color: var(--text-1);
  background-color: transparent;
  margin: 0;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-style: italic;
  color: var(--text-1);
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4375rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.1875rem;
}

h4 {
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 12rem;
  border: 2px var(--blue-1);
  background: transparent;
  backdrop-filter: blur(10px);
  transition: 0.4s;
}

select:hover,
select:focus {
  border: var(--blue-2);
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.75rem;
  color: var(--text-1);
  background-color: var(--blue-1);
  transition: 0.4s;
}

optgroup {
  color: var(--text-1);
  background-color: var(--blue-1);
  border: 0px;
}

ul > li {
  list-style-type: none;
}
