.EpisodeOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  column-gap: 1.5rem;
  /* margin: 1rem;
  padding: 1rem; */
}

/* .EpisodeOverview:hover,
.EpisodeOverview:focus {
  border: 1px solid var(--blue-3);
  box-shadow:
    0px 0px 10px var(--blue-2),
    0px 0px 2px var(--blue-1);
  background: var(--background);
} */

.seasonImage {
  position: relative;
  aspect-ratio: 1 / 1;
}

.playOverlay {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 50%;
  height: 50%;
  margin: auto;
}
