.PodcastOverview {
  margin: auto;
  padding: 1.5rem;
  width: 80%;
  border-radius: 2rem;
}

.PodcastDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PodcastDescription > img {
  width: 80%;
  border-radius: 1rem;
}

.PodcastDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .PodcastDescription {
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
  }
  .PodcastOverview {
    margin: auto;
    padding: 1.5rem;
    width: 80%;
    border-radius: 1rem;
  }
}
