.ShowOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border-radius: 2rem;
}

.ShowOverview > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 2rem 2rem 0 0;
}

.ShowDescription {
  margin: 1rem;
}

.PodcastSubdetails {
  display: flex;
  flex-direction: column;
}

.PodcastSubdetails > h4 {
  margin: 0.25rem 0;
}

@media (min-width: 768px) {
  .ShowOverview {
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    column-gap: 1rem;
  }

  .ShowOverview > img {
    border-radius: 2rem 0 0 2rem;
  }
}

@media (min-width: 1024px) {
  .ShowOverview {
    grid-template-columns: 2fr 5fr;
  }

  .PodcastSubdetails {
    flex-direction: row;
    column-gap: 1rem;
  }
}

@media (min-width: 1440px) {
  .ShowOverview {
    grid-template-columns: 2fr 7fr;
  }
}
